This is a Jupyter notebook for learning the Coursera "Introduction to Data Science in Python" UMich course.

Resources:
https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook

Import libraries

In [4]:
import pandas as pd
import numpy as np

## The DataFrame Data Structure

Dataframes practice

In [2]:
purchase_1 = pd.Series({'Name': 'Chris',
                       'Item Purchased': 'Dog Food',
                       'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                       'Item Purchased': 'Kitty Litter',
                       'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                       'Item Purchased': 'Bird Seed',
                       'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ['Store 1', 'Store 1', 'Store 2'])

df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

The .loc[] method ("Lock") allows indexing by label.  

.loc[] returns a series if only one entry matches label.

Multiple records may be returned.  In this case, .loc[] returns a dataframe, instead of a series.

In [9]:
df.loc['Store 1']
#type(df.loc['Store 1'])

pandas.core.frame.DataFrame

A dataframe column can also be referenced by column label Example: df['Column label']

In [3]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

Both row and column can be specified as index arguments in .loc[].  Row specified first, then column.

In [4]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

Use .T function on a dataframe to transpose it.  .T function does not change dataframe.

In [5]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

Operation can be chained together.  But chaining can come wtih some costs.  Example - returns a copy of the dataframe, instead of a view. 

This might be slower than necessary -- and OK if you are simply viewing data.  However, if you are chaining data, chaining could produce errors. 

Friends don't let friends chain calls.

In [12]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

.loc[] takes a list of indices; pandas will return only the columns asked for.

In [7]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

Easy to drop data with .drop function.  

Drop returns a COPY of the dataframe, with original dataframe still intact.  In pandas, the original dataframe is only edited in place if need be.

.drop has two optional parameters -- 1) edit in place, and 2) remove axes

In [11]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

There is a second way to drop data, using the del keyword.  This takes immediate effect on the dataframe, and does not return a view.

In [13]:
del copy_df['Name']
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

Multiplication operator: Edits a dataframe in place.

In [17]:
df['Cost'] *= 0.8
#Alternate way: 
#df['Cost'] = df['Cost'] * 0.8
type(df['Cost'])
print(df)

          Cost Item Purchased   Name
Store 1  9.216       Dog Food  Chris
Store 1  1.024   Kitty Litter  Kevyn
Store 2  2.048      Bird Seed  Vinod

## Dataframe indexing and loading

Using a view, instead of making a copy of a dataframe is much more efficient in pandas.

In [ ]:
costs = df['Cost']
costs

Addition multiplier edits costs in place.  NOTE: May want to use copy

In [20]:
costs += 2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

Reading in a csv.  Take a look at the file using the shell command "|cat|" on dataframe.

In [ ]:
#|cat olympics.csv.  Does not work on WINDOWS.

Read_csv function takes in csv contents into a dataframe.  The first row contains the column names.

In [6]:
#df = pd.read_csv('olympics.csv').  #This errors out
df = pd.read_csv(r'C:\Users\CS\Desktop\Coursework\Coursera_IntroDataScience_UMich\course1_downloads\course1_downloads\olympics.csv')
df.head()

FileNotFoundError: File b'C:\\Users\\CS\\Desktop\\Coursework\\Coursera_IntroDataScience_UMich\\course1_downloads\\course1_downloads\\olympics.csv' does not exist

.read_csv can take optional parameters to regard first row as header.

In [12]:
#df = pd.read_csv('olympics.csv').  #This errors out
df = pd.read_csv(r'C:\Users\CS\Desktop\Coursework\Coursera_IntroDataScience_UMich\course1_downloads\course1_downloads\olympics.csv', index_col=0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

Pandas adds its own labeling to help make column names more unique.  But this labeling isn't as clear as it could be.

Pandas stores the column names, you can view column names using the .columns function.

In [9]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

You can rename column names using .rename function.

In [13]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace = True)
    if col[:2] == '02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace = True)
    if col[:2] == '03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace = True)
    if col[:1] == '№':
        df.rename(columns={col:'#'+col[4:]}, inplace = True)
df.head()

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Querying a Dataframe

 Boolean masking: Core to efficient pandas and numpy query.  Array of one or two dimensions, where each of values either true or false.

Filter Olympics dataset for Gold medals > 0

In [ ]:
df['Gold'] > 0

Now, overlay the boolean mask on the dataframe.  Use .where() function and .head() functions to filter and check first few rows.

In [7]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

Note: Data which does not meet conditions get "NaN".  Run a .count() function on the number of countries meeting df['Gold'] > 0 criteria.  These "NaN" are not counted.

In [8]:
only_gold['Gold'].count()

100

Compare to total number of entries

In [17]:
df['Gold'].count()

147

Often you want to drop those rows with no data.  Can ccomplish this with .dropna() function.

In [ ]:
only_gold = only_gold.dropna()

In [ ]:
only_gold.head()

Alternative, more concise example of querying the same dataframe.

In [ ]:
only_gold = df[df['Gold']>0]
only_gold.head()

The output of boolean masks and conditionals is another boolean mask.  

As an example, create a mask for all of those countries who have received a gold medal in either the summer or winter Olympics.

Note how (df['Gold'] > 0) is wrapped in parentheses.

In [ ]:
len(df[(df['Gold'] > 0) | df['Gold.1'] > 0])

Return countries with Winter golds but without a Summer gold as of yet.

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

Given the below dataframe, return a list of Names of those people who spent more than $3 on their item.

In [2]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

Answer:

In [ ]:
df['Name'][df['Cost']>3]

## Indexing Dataframes

In dataframes, indices are a row-level label.  

Indexing change: Olympics from country to summer golds using .set_index function.  (Destructive process.)

Promotes index to a column.

In [14]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

,#mmer,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

Pandas does multi-level indexing.  Call .set_index, and give a list of indices to promote to columns.

In [5]:
df = pd.read_csv(r'C:\Users\CS\Desktop\Coursework\Coursera_IntroDataScience_UMich\course1_downloads\course1_downloads\census.csv')
df.head()

FileNotFoundError: File b'C:\\Users\\CS\\Desktop\\Coursework\\Coursera_IntroDataScience_UMich\\course1_downloads\\course1_downloads\\census.csv' does not exist

Here, we see that the SUMLEV has only two unique values, 40 and 50.

In [ ]:
df['SUMLEV'].unique()

Let's view only the rows for which SUMLEV = 50.

In [31]:
df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

Let's reduce data only to total population estimates and total number of births.  Do this by specifying a subset of columns to keep.

In [32]:
list(df)

columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015']

#This returns the specified dataframe columns. 
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015
1,Alabama,Autauga County,54660,55253,55175,55038,55290,55347,151,636,615,574,623,600
2,Alabama,Baldwin County,183193,186659,190396,195126,199713,203709,517,2187,2092,2160,2186,2240
3,Alabama,Barbour County,27341,27226,27159,26973,26815,26489,70,335,300,283,260,269
4,Alabama,Bibb County,22861,22733,22642,22512,22549,22583,44,266,245,259,247,253
5,Alabama,Blount County,57373,57711,57776,57734,57658,57673,183,744,710,646,618,603

Say you want to query the data, BUT ONLY AFTER it has been indexed by State and City.

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

Check out the unique rows in Michigan and Washetaw County

In [ ]:
df.loc['Michigan', 'Washtenaw County']

You might be interested in comparing counties.  For example, Washtenaw and Wayne counties.

In [ ]:
df.loc[[('Michigan', 'Washtenaw County'), ('Michigan', 'Wayne County')]]

Quiz: 

Reindex the purchase records DataFrame to be indexed hierarchically, first by store, then by person. Name these indexes 'Location' and 'Name'. Then add a new entry to it with the value of:

Name: 'Kevyn', Item Purchased: 'Kitty Food', Cost: 3.00 Location: 'Store 2'.

In [12]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

In [13]:
#Run the below code ONCE

df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))

#df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevyn   3.0     Kitty Food

## Missing Values

It is a given that you will have missing values.