This is a Jupyter notebook for learning the Coursera "Introduction to Data Science in Python" UMich course.

Import libraries

In [1]:
import pandas as pd
import numpy as np

##Merging Dataframes

One can query dataframe or series in a few ways -- iloc, or [] for columns.

Boolean masking a powerful querying method.

Merging datasets

Two types of joins -- Inner join and Outer join

Example dataframe

In [12]:
df = pd.DataFrame([{'Name': 'Chris', 'Item Purchased': 'Sponge', 'Cost': 22.50},
                  {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.50},
                  {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
                 index = ['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5         Sponge  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0          Spoon  Filip

Another 2 example dataframes for practicing inner and outer joins

In [5]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                        {'Name': 'Sally', 'Role': 'Course Liaison'},
                        {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                        {'Name': 'Mike', 'School': 'Law'},
                        {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')

print(staff_df)
print()
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course Liaison
James          Grader

            School
Name
James     Business
Mike           Law
Sally  Engineering

Outer join = Union.  Note that NaN is filled for missing data.

In [6]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course Liaison  Engineering

Inner join = Intersection

In [ ]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

Left join: Return all staff detail if they're also students

In [9]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course Liaison  Engineering
James          Grader     Business

Right join: Return student detail if they're also staff

In [ ]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

Another property of merge function -- you don't need indices to join. Can also use columns.

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

What happens when conflicts between dataframes?  See two dataframes below: Location is different between students and staff.

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                        {'Name': 'Sally', 'Role': 'Course Liaison', 'Location': 'Washington Ave'},
                        {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Ave'}])

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': 'Billiard Ave'},
                        {'Name': 'Mike', 'School': 'Law', 'Location': 'Frat House'},
                        {'Name': 'Sally', 'School': 'Engineering', 'Location': 'Wilson Alley'}])

pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

##Pandas Idioms

Best solutions to problems are idiomatic -- both high performance and high readability.  

Pandas has its own language, some more idiomatic.  Make Code Pandorable.

1) Method chaining.  Every method on an object contains a reference to that object -- that's the beauty of it.

Example:

In Python if you begin a statement with a parenthesis, you can continue over multiple lines

In [3]:
df = pd.read_csv(r'C:\Users\CS\Desktop\Coursework\Coursera_IntroDataScience_UMich\course1_downloads\course1_downloads\census.csv')
#df = pd.read_csv('census.csv')

df.head()

FileNotFoundError: File b'census.csv' does not exist